@media only screen and (max-width: 1366px) {
	.landing-svg {
		max-width: 500px;
		height: 100%;
	}
}

@media only screen and (max-width:1025px) {
	.dots li:nth-child(3),
	.dots li:nth-child(4) {
		display: none;
	}
	.w-25 {
		width: 50%!important;
	}
	.about-main-container,
	.feature-main-container,
	.token-main-container,
	.roadmap-main-container,
	.team-main-container,
	.faq-main-container,
	.partner-main-container {
		padding: 80px 0 0;
	}
	.partner-list {
		padding: 30px 0px;
	}
	.section-heading {
		margin-bottom: 40px;
	}
	#platform {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding: 0;
		height: 75vh;
	}
	.navbar-light .navbar-nav>.nav-item>a {
		font-size: 14px;
		padding: 10px;
	}
	.sec-line {
		display: none;
	}
	.token-inner .token-box .item-category,
	.sub-title {
		font-size: 17px;
	}
}

@media all and (max-width: 1025px) and (min-width:1024px) {
	.dots {
		top: 165px;
	}
	.slick-arrow-left,
	.slick-arrow-right {
		-webkit-transform: translate(0px, -150px);
		-ms-transform: translate(0px, -150px);
		transform: translate(0px, -150px);
	}
}

@media only screen and (max-width: 992px) {
	.navbar-brand {
		background-image: url(../../images/20190521_020858_0000.png);
	}
	.navbar-light .navbar-nav>.nav-item>a {
		color: rgba(0, 0, 0, .5);
	}
	.navbar {
		position: fixed;
		background-color: #fff;
		margin: 0;
		text-align:center;
	}
	.navbar ul.nav{
		
	}
	.btn-contact{
		margin:0px auto;
	}
	.navbar-expand-md .navbar-toggler {
		display: block;
	}
	.collapse {
		display: none;
	}
	.navbar-light .navbar-toggler {
		border-color: none;
		border: none;
		margin-right: 0px;
	}
	.navbar-collapse {
		border-top: 1px solid #efefef;
	}
	.navbar-brand {
		padding: 10px 0px;
	}
	.ico-status-main {
		margin-top: -50px;
	}
	.countdown-main,
	#timer {
		-webkit-box-pack: center!important;
		-ms-flex-pack: center!important;
		justify-content: center!important;
		text-align: center;
		margin-bottom: 20px;
	}
	.ico-info {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		margin-bottom: 20px;
	}
	.ico-buttons a {
		margin-top: 20px;
	}
	.about-reverse,
	.about-inner {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.about-description,
	.section-heading {
		text-align: center;
	}
	.about-sec-heading .sec-title,
	.sec-title {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center;
	}
	.about-sec-heading .sec-title,
	.about-inner,
	.sec-title {
		margin-bottom: 40px;
	}
	.about-description p {
		margin-top: 40px;
	}
	.ab-left-img {
		max-width: 250px;
		margin: 40px auto 0px;
	}
	.nav-tabs .nav-link {
		margin-bottom: 40px;
	}
	.feature-main-container .tab-content {
		padding: 30px 0px 80px;
	}
	.token-middle {
		display: none;
	}
	.token {
		margin-bottom: 50px;
	}
	ul.leaders span:first-child {
		font-size: 13px;
	}
	.token-inner {
		padding: 0px 0 30px;
	}
	.team-box {
		margin-bottom: 30px;
	}
	.faq-r {
		padding-bottom: 80px;
	}
	.footer-box,
	.ico-box {
		padding: 25px;
		height: auto;
	}
	.footer-box-top {
		-webkit-box-pack: center!important;
		-ms-flex-pack: center!important;
		justify-content: center!important;
	}
	.footer-box-text,
	.footer-box-top {
		padding-bottom: 20px;
	}
	.footer-box-bottom {
		padding: 20px 0px 0px;
	}
	.card-body {
		width: calc(100% - 0px);
		padding-bottom: 30px;
	}
	.card-body p {
		text-align: justify;
	}
	.faq-head h3 {
		font-size: 16px;
		width: calc(100% - 40px);
	}
	.faq-main-container .card-header {
		padding: 15px 0px;
	}
	p,
	.sub-title {
		line-height: 35px;
	}
	.w-25 {
		width: 100%!important;
	}
	.feature-main-container:after {
		content: none;
	}
	.partner-list li {
		margin-bottom: 50px;
	}
	.sec-shape {
		margin-right: 20px!important;
		margin: 0px;
	}
	.landing-home h1 {
		padding-bottom: 30px;
	}
	.slick-arrow-left,
	.slick-arrow-right {
		-webkit-transform: translate(0px, -175px);
		-ms-transform: translate(0px, -175px);
		transform: translate(0px, -175px);
	}
}

@media only screen and (max-width:768px) {
	.header-box {
		display: block;
	}
}

@media only screen and (max-width:767px) {
	.ico-box {
		margin: 0;
	}
	.dots li:nth-child(2) {
		display: none;
	}
	.sec-title .title {
		font-size: 40px;
	}
	.token-inner .token-box .item-category {
		font-size: 20px;
		margin-bottom: 20px;
		text-align: center;
	}
	.footer-b-buttons a:nth-child(1) {
		margin-right: 0px;
	}
	.footer-b-buttons a {
		margin: 10px 0px;
	}
	.foot-info,
	.foot-links {
		-webkit-box-pack: center!important;
		-ms-flex-pack: center!important;
		justify-content: center!important;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		text-align: center;
	}
	.foot-links li {
		margin: 20px 0px 0px;
	}
	.footer-b-text {
		margin-bottom: 20px;
	}
	.footer-b-text {
		font-size: 14px;
	}
	.nav-white>.container {
		padding: 0;
	}
	.partner-list li {
		margin-bottom: 50px;
	}
	.r-date {
		height: 150px;
	}
	.r-text p {
		height: auto; 
	}
	.r-text{
		height:150px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.slick-arrow-left,
	.slick-arrow-right {
		-webkit-transform: translate(0px, -170px);
		-ms-transform: translate(0px, -170px);
		transform: translate(0px, -170px);
	}
	.faq-icon-main {
		width: 29px;
		height: 29px;
	}
	.sec-shape {
		width: 48px;
		height: 48px;
	}
}

@media only screen and (max-width: 500px) {
	.footer-box-text {
		font-size: 30px;
	}
	.landing-home h1 {
		font-size: 23px;
		line-height:35px;
	}
	.dots {
		opacity: 0;
	}
	.foot-social li a {
		width: 28px;
		height: 28px;
		padding: 8px;
	}
	.landing-home h1 {
		padding-bottom: 0px;
	}
	.roadmap-inner .slick-slide a {
		height: auto;
	}
	.pt-40{
		padding-top:40px;
	}
	.roadmap-main-container:before {
		top: 77.5%;
	}
	.roadmap-main-container:after {
		height: 78%;
	}
}

@media only screen and (max-width: 400px) {
	
	.foot-social {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.foot-social li {
		margin-bottom: 10px;
	}
	.ico-status-bar {
		width: 100%;
	}
	.c-time {
		margin-right: 20px;
	}
	.sec-title {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.sec-shape {
		margin-right: 0px!important;
	}
	.sec-title .title {
		padding-top: 10px;
	}
}

@media only screen and (max-width: 350px) {
	.landing-home h1 {
		font-size: 19px;
		line-height: 30px;
	}
	.landing-svg {
		max-width: 250px;
	}
	p,
	.sub-title {
		line-height: 30px;
	}
	.about-main-container,
	.feature-main-container,
	.token-main-container,
	.roadmap-main-container,
	.team-main-container,
	.faq-main-container,
	.partner-main-container {
		padding: 50px 0 0;
	}
	.feature-main-container .tab-content {
		padding: 30px 0px 50px;
	}
}